<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CoolIo</title>
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/#welcome"><span id="logo">Cool.io</span> -- From the Innovators at DB Tracker</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="/#welcome">
          <% if !logged_in? %>
            Sign-Up / Login
          <% else %>
            Logout
          <% end %>
        </a>
      </li>
    </ul>
  </section>
</nav>
<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>
  $(function(){
    $(document).foundation();

    // Load the SDK
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    // Append the fb root Div
    $('body').prepend('<div id="fb-root"></div>');
    window.fbAsyncInit = function() {
      FB.init({
        appId: '<%= CoolIo::Application.config.app_id %>',
        status     : true,
        frictionlessRequests : true,
        cookie: true
      });
    console.log("FACEBOOK KEY", <%= CoolIo::Application.config.app_id %>)
    console.log("APP INITIALIZED");
    CoolioApp.initialize();
    CoolioApp.checkLoginStatus();
    }
  });
</script>



</body>
</html>
